<div class="container">
 
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Credit Card (last 4)</th>
            <th scope="col">Franchise</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.name  %></td>
            <td><%= contact.date_of_birth  %></td>
            <td><%= contact.telephone  %></td>
            <td><%= contact.address  %></td>
            <td><%= contact.last_four  %></td>
            <td><%= contact.franchise  %></td>
            <td><%= contact.email  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= will_paginate @contacts %>
</div>

